<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goちゃんねる</title>
  </head>
  <body>
    <div>
      <h1>Goちゃんねる</h1>
      <form action="/users" method="post">
        <label for="name">name</label>
        <input name="name" type="text" id="name" />
        <label for="pawwsord">password</label>
        <input name="password" type="password" id="password" />
        <button type="submit">はじめる</button>
      </form>
      <p>※一度登録したユーザーは同じID,PASSWORDでログインできます</p>
      <ul>
        <li>
          サーバーを攻撃しない、誹謗中傷はしないなど、常識は守りましょう。
        </li>
        <li>サーバーのクレジットが尽きたら止まります。</li>
        <li>
          セキュリティ的に色々サボっています。全て自己責任でお願いします。
        </li>
      </ul>
    </div>
  </body>
</html>
