<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goちゃんねる</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <div>
      <h1>Goちゃんねる</h1>
      <form
        action="/users"
        method="post"
        style="display: flex; align-items: flex-end"
      >
        <div>
          <label for="name">ユーザー名</label>
          <input
            name="name"
            type="text"
            id="name"
            required
            minlength="1"
            maxlength="32"
            style="height: 30px; margin-right: 24px"
          />
        </div>
        <div>
          <label for="pawwsord">パスワード</label>
          <input
            name="password"
            type="password"
            id="password"
            required
            minlength="1"
            maxlength="100"
            style="height: 30px; margin-right: 24px; width: 250px"
          />
        </div>
        <button type="submit" style="height: 50px; padding: 10px">
          はじめる
        </button>
      </form>
      <p>※一度登録したユーザーは同じユーザー名、パスワードでログインできます</p>
      <ul>
        <li>
          サーバーを攻撃しない、誹謗中傷はしないなど、常識は守りましょう。
        </li>
        <li>サーバーのクレジットが尽きたら止まります。</li>
        <li>
          セキュリティ的に色々サボっています。全て自己責任でお願いします。
        </li>
      </ul>
    </div>
  </body>
</html>
