<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goちゃんねる</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    {{template "header" .User}}
    <div>
      <h1>{{ .Post.Title }}</h1>
      <p>{{ .Post.Text }}</p>
      <div style="display: flex; justify-content: space-between">
        <p>by {{.Post.User.Name}}</p>
        <p>{{ .Post.CreatedAt.Format "2006/01/02 15:04" }}</p>
      </div>
    </div>
    <form
      action="/posts/{{ .Post.ID }}/comments"
      method="post"
      style="margin: 48px 0px"
    >
      <label for="text">コメント</label>
      <textarea
        name="text"
        type="text"
        id="text"
        required
        minlength="1"
        maxlength="1000"
      ></textarea>
      <button type="submit" style="width: 100%; margin-top: 12px">送信</button>
    </form>
    <div>
      {{ range $i, $v := .Post.Comments }}
      <div style="margin: 32px 0px">
        <div>
          <span>{{ add $i 1 }}</span>
          <span>{{$v.User.Name}}</span>
        </div>
        <p>{{ $v.Text }}</p>
        <span>{{ $v.CreatedAt.Format "2006/01/02 15:04" }}</span>
      </div>
      {{ end }}
    </div>
  </body>
</html>
