<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>learn go server</title>
  </head>
  <body>
    {{template "header" .}}
    <h1>post 登録</h1>
    <form action="/posts" method="post">
      <label for="title">title</label>
      <input name="title" type="text" id="title" />
      <label for="text">text</label>
      <input name="text" type="text" id="text" />
      <button type="submit">送信</button>
    </form>
  </body>
</html>
