<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goちゃんねる</title>
  </head>
  <body>
    {{template "header" .User}}
    <h1>投稿</h1>
    <div>
      <h2>{{ .Post.Title }}</h2>
      <p>{{ .Post.Text }}</p>
      <p>{{ .Post.CreatedAt.Format "2006/01/02 15:04" }}</p>
      <span>{{.Post.User.Name}}</span>
    </div>
    <form action="/posts/{{ .Post.ID }}/comments" method="post">
      <label for="text">post</label>
      <input name="text" type="text" id="text" />
      <button type="submit">送信</button>
    </form>
    <div>
      {{ range .Post.Comments }}
      <div>
        <span>{{ .ID }}</span>
        <h2>{{ .Text }}</h2>
        <p>{{ .CreatedAt.Format "2006/01/02 15:04" }}</p>
        <span>{{.User.Name}}</span>
      </div>
      {{ end }}
    </div>
  </body>
</html>
