<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>learn go server</title>
  </head>
  <body>
    <a href="/posts/new">new</a>
    <form action="/signout" method="POST">
      <button>signout</button>
    </form>

    <h1>投稿</h1>
    <div>
      <h2>{{ .Text }}</h2>
      <p>{{ .CreatedAt }}</p>
      <span>{{.User.Name}}</span>
    </div>
    {{.ID}}
    <form action="/posts/{{ .ID }}/comments" method="post">
      <label for="text">post</label>
      <input name="text" type="text" id="text" />
      <button type="submit">送信</button>
    </form>
    <div>
      {{ range .Comments }}
      <div>
        <span>{{ .ID }}</span>
        <h2>{{ .Text }}</h2>
        <p>{{ .CreatedAt }}</p>
        <span>{{.User.Name}}</span>
      </div>
      {{ end }}
    </div>
  </body>
</html>
